node_modules
docs
logs
*.tgz
*.bak
**/*.bak

gen_tsc
info.lcov
gen/**
gen/*
gen3
tmp/**
*.bak


model_raw_old/*.gv
model_raw_old/testmodel2/graph/*
testmodel/*.gv
testmodel/*.bak
testmodel2/graph/*
testmodel2/*.gv
testmodel2/*.bak

# we check in gen for coveralls source references
