node_modules
docs
logs
*.tgz
*.bak
**/*.bak
tmp/**

testmodel/graph/*
testmodel2/graph/*
testmodel2/*.gv
testmodel2/*.bak

app/public/css/cssorig/*

model_raw_old/*
model_raw_old/testmodel2/graph/*
model_raw_old/*
logs
coverage
src
test
outpu
outpu*
tsconfig.json
README.md
.eslintrc.json
.npmignore
.gitignore
.travis.yml
.vscode
gulpfile.js
*.txt
oo.txt
testmodel2/_cache.js.zip
